@* TypeVisibility: Internal DisableLinePragmas: true TrimLeadingUnderscores: true GeneratePrettyNames : true *@
@* Generator : MvcHelper *@
@using NotLimited.Framework.Server.Queries
@using NotLimited.Framework.Web.Helpers

@helper RenderPage(HtmlHelper htmlHelper, int page, int currentPage, string action = null, string controller = null)
{
    <li class="@(page == currentPage ? "active" : null)">
        @htmlHelper.ActionLink((page).ToString(), action, controller, htmlHelper.AppendQueryString(new { page }), null)
    </li>
}

@helper DisabledPage()
{
    <li class="disabled"><span>...</span></li>
}

@helper Paginator(System.Web.Mvc.HtmlHelper htmlHelper, Pagination pagination, string wrapperClass = "text-center", string listClass = "pagination", string action = null, string controller = null)
{
    int pageCount = pagination.PageCount;
    if (pageCount > 1)
    {
        <div class="@wrapperClass">
            <ul class="@listClass">
                @if (pageCount > 6)
                {
                    if (pagination.Page < 5)
                    {
                        foreach (var page in Enumerable.Range(1, Math.Max(3, pagination.Page + 1)))
                        {
                            @RenderPage(htmlHelper, page, pagination.Page, action, controller)
                        }
                    }
                    else
                    {
                        @RenderPage(htmlHelper, 1, pagination.Page, action, controller)
                    }

                    @DisabledPage()

                    if (pagination.Page > pageCount - 4)
                    {
                        int start = Math.Min(pagination.Page - 1, pageCount - 2);

                        foreach (var page in Enumerable.Range(start, pageCount - start + 1))
                        {
                            @RenderPage(htmlHelper, page, pagination.Page, action, controller)
                        }
                    }
                    else
                    {
                        if (pagination.Page >= 5)
                        {
                            foreach (var page in Enumerable.Range(pagination.Page - 1, 3))
                            {
                                @RenderPage(htmlHelper, page, pagination.Page, action, controller)
                            }

                            @DisabledPage()
                        }

                        @RenderPage(htmlHelper, pageCount, pagination.Page, action, controller)
                    }
                }
                else
                {
                    foreach (var page in Enumerable.Range(1, pageCount))
                    {
                        @RenderPage(htmlHelper, page, pagination.Page, action, controller)
                    }
                }
            </ul>
        </div>
    }
}